In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup as BS
from IPython.core.display import HTML
import json
import re

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900'

In [3]:
response = requests.get(url)

In [4]:
wiki_page = BS(response.text)

In [5]:
wiki_table = wiki_page.find('table',{'class':'wikitable'})

In [6]:
wiki_list = pd.read_html(str(wiki_table))

In [7]:
wiki_df = pd.DataFrame(wiki_list[0])

In [8]:
#regex to get footnoes out of other deaths column 
#point1 = wiki_df.iloc[1338,-1]

In [9]:
#regex to get footnoes out of other deaths column 
#re.match('(\d+)', point1)

In [10]:
wiki_df['Other Source Deaths'].unique()

array([nan, '3500', '8000+', '46', '164[6]', '1500[6]', '105000', '1404',
       '1', '120', '200', '380', '2041', '33[8]', '45000[9]', '2489[10]',
       '26271[11] 26000[12]', '68', '231000*[13] 283000*[14] 227898*[15]',
       '41', '60[16]', '215', '34', '295', '79', '189', '1115',
       '222,517[17]', '521[19]', '42', '2698', '185', '15894[20]', '150+',
       '111+', '601 (as of October 30, 2011)'], dtype=object)

In [11]:
#doing this to get the index value of the point in question 
wiki_df[wiki_df['Other Source Deaths'] == '231000*[13] 283000*[14] 227898*[15]']

,Origin (UTC),Present-day country and link to Wikipedia article,Lat,Long,Depth (km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths
1237,2004-12-26 00:58,Indonesia (see 2004 Indian Ocean earthquake),3.287,95.972,30,9.1 Mw,"T,L",NaN,297200.0,NaN,NaN,231000*[13] 283000*[14] 227898*[15]

In [12]:
wiki_df[wiki_df['Other Source Deaths'] == '222,517[17]']

,Origin (UTC),Present-day country and link to Wikipedia article,Lat,Long,Depth (km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths
1327,2010-01-12 17:00,Haiti (see 2010 Haiti earthquake),18.457,-72.533,13,7.0 Mw,NaN,NaN,NaN,NaN,NaN,"222,517[17]"

In [13]:
wiki_df.iloc[1237,-1] = '283000'
wiki_df.iloc[1327,-1] = '222517'

In [14]:
wiki_df['Other Source Deaths'] = wiki_df['Other Source Deaths'].str.extract('(\d+)')
wiki_df['Other Source Deaths'] = wiki_df['Other Source Deaths'].fillna(0)

In [15]:
wiki_df['Other Source Deaths'] = wiki_df['Other Source Deaths'].astype(int)

In [16]:
#figuring out the regex point2 = wiki_df.iloc[1335,5]

In [17]:
#figuring out the regex re.match('\d{1}\.\d{1}', point2)

In [18]:
wiki_df['Magnitude'] = wiki_df['Magnitude'].str.extract('(\d{1}\.\d{1})')

In [19]:
# also go this wrong wiki_df.fillna(0)
wiki_df['Magnitude'] = wiki_df['Magnitude'].astype(float)

In [20]:
wiki_df['Deaths'] = wiki_df[['PDE Total Deaths','Utsu Total Deaths','EM-DAT Total Deaths','Other Source Deaths']].max(axis=1)

In [21]:
wiki_df

,Origin (UTC),Present-day country and link to Wikipedia article,Lat,Long,Depth (km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths,Deaths
0,1900-05-11 17:23,Japan,38.700,141.100,5,7.0,NaN,NaN,NaN,NaN,NaN,0,0.0
1,1900-07-12 06:25,Turkey,40.300,43.100,NaN,5.9,NaN,NaN,NaN,140.0,NaN,0,140.0
2,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7,NaN,NaN,NaN,NaN,NaN,0,0.0
3,1901-02-15 00:00,China,26.000,100.100,0,6.5,NaN,NaN,NaN,NaN,NaN,0,0.0
4,1901-03-31 07:11,Bulgaria,43.400,28.700,NaN,6.4,NaN,NaN,NaN,4.0,NaN,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,2011-03-24 20:25,Burma (see 2011 Burma earthquake),NaN,NaN,NaN,6.8,NaN,NaN,NaN,NaN,NaN,150,150.0
1336,2011-04-07 14:32,Japan (see April 2011 Miyagi earthquake),38.2,140.0,66.0,7.1,NaN,NaN,NaN,NaN,NaN,0,0.0
1337,2011-09-18 12:40,India (see 2011 Sikkim earthquake),27.723,88.064,19.7,6.9,L,NaN,NaN,NaN,NaN,111,111.0
1338,2011-09-23 10:41,Turkey (see 2011 Van earthquake),38.6,43.5,7.2,7.1,NaN,NaN,NaN,NaN,NaN,601,601.0
1339,2018-08-05 19:46,Indonesia (see Lombok earthquake),NaN,NaN,31.0,6.9,NaN,NaN,NaN,NaN,NaN,0,0.0

In [22]:
wiki_df['Present-day country and link to Wikipedia article'].value_counts()

China                                                          132
Indonesia                                                       81
Iran                                                            78
Japan                                                           62
Turkey                                                          60
                                                              ...
China (see 1985 Luquan earthquake)                               1
Indonesia (see Lombok earthquake)                                1
Saint Pierre and Miquelon (see 1929 Grand Banks earthquake)      1
China (see 1920 Haiyuan earthquake)                              1
Mexico (see 1999 Oaxaca earthquake)                              1
Name: Present-day country and link to Wikipedia article, Length: 397, dtype: int64

In [23]:
wiki_df['Present-day country and link to Wikipedia article']

0                                          Japan
1                                         Turkey
2                                      Venezuela
3                                          China
4                                       Bulgaria
                          ...
1335           Burma (see 2011 Burma earthquake)
1336    Japan (see April 2011 Miyagi earthquake)
1337          India (see 2011 Sikkim earthquake)
1338            Turkey (see 2011 Van earthquake)
1339           Indonesia (see Lombok earthquake)
Name: Present-day country and link to Wikipedia article, Length: 1340, dtype: object

In [24]:
#point3 = wiki_df.iloc[1,1]

In [25]:
#re.match('(\w+)', point3)

In [29]:
wiki_df['Present-day country and link to Wikipedia article'] = wiki_df['Present-day country and link to Wikipedia article'].str.extract('(\w+)')

In [31]:
wiki_df['Present-day country and link to Wikipedia article'].value_counts()

China        166
Indonesia     97
Turkey        95
Iran          92
Japan         82
            ...
Honduras       1
Eritrea        1
see            1
Vietnam        1
Wallis         1
Name: Present-day country and link to Wikipedia article, Length: 108, dtype: int64