In [41]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from io import StringIO

In [42]:
url = 'https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900'

In [48]:
df = pd.read_html(url, attrs={"class": "wikitable"})[0]

In [49]:
type(df)

pandas.core.frame.DataFrame

In [50]:
print(df)

          Origin (UTC) Present-day country and link to Wikipedia article  \
0     1900-05-11 17:23                                             Japan
1     1900-07-12 06:25                                            Turkey
2     1900-10-29 09:11                                         Venezuela
3     1901-02-15 00:00                                             China
4     1901-03-31 07:11                                          Bulgaria
...                ...                                               ...
1335  2011-03-24 20:25                 Burma (see 2011 Burma earthquake)
1336  2011-04-07 14:32          Japan (see April 2011 Miyagi earthquake)
1337  2011-09-18 12:40                India (see 2011 Sikkim earthquake)
1338  2011-09-23 10:41                  Turkey (see 2011 Van earthquake)
1339  2018-08-05 19:46                 Indonesia (see Lombok earthquake)

         Lat     Long Depth (km) Magnitude Secondary Effects  \
0     38.700  141.100          5  7.0 MJMA               NaN
1     40.300   43.100        NaN   5.9 Muk               NaN
2     11.000  -66.000          0    7.7 Mw               NaN
3     26.000  100.100          0    6.5 Ms               NaN
4     43.400   28.700        NaN   6.4 Muk               NaN
...      ...      ...        ...       ...               ...
1335     NaN      NaN        NaN    6.8 Mw               NaN
1336    38.2    140.0       66.0    7.1 Mw               NaN
1337  27.723   88.064       19.7    6.9 Mw                 L
1338    38.6     43.5        7.2    7.1 Mw               NaN
1339     NaN      NaN       31.0    6.9 Mw               NaN

      PDE Shaking Deaths  PDE Total Deaths  Utsu Total Deaths  \
0                    NaN               NaN                NaN
1                    NaN               NaN              140.0
2                    NaN               NaN                NaN
3                    NaN               NaN                NaN
4                    NaN               NaN                4.0
...                  ...               ...                ...
1335                 NaN               NaN                NaN
1336                 NaN               NaN                NaN
1337                 NaN               NaN                NaN
1338                 NaN               NaN                NaN
1339                 NaN               NaN                NaN

     EM-DAT Total Deaths           Other Source Deaths
0                    NaN                           NaN
1                    NaN                           NaN
2                    NaN                           NaN
3                    NaN                           NaN
4                    NaN                           NaN
...                  ...                           ...
1335                 NaN                          150+
1336                 NaN                           NaN
1337                 NaN                          111+
1338                 NaN  601 (as of October 30, 2011)
1339                 NaN                           NaN

[1340 rows x 12 columns]