In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dftz = pd.read_csv('..\Data\dftz.csv')
df = pd.read_csv('..\Data\df.csv')
print(dftz)

       FID  Index                 TZID
0        0   12.0         Asia/Kashgar
1        1  348.0         Asia/Kashgar
2        2  477.0         Asia/Kashgar
3        3  514.0         Asia/Kashgar
4        4  548.0         Asia/Kashgar
...    ...    ...                  ...
1222  1222  977.0        Asia/Jayapura
1223  1223  959.0        Asia/Jayapura
1224  1224  976.0        Asia/Ust-Nera
1225  1225   95.0        Asia/Ust-Nera
1226  1226  701.0  America/Tegucigalpa

[1227 rows x 3 columns]

In [3]:
dftz['Index'] = dftz['Index'].astype('int')
dftz['Index'] = dftz['Index'].astype('str')
df['Index'] = df['Index'].astype('str')
df['Origin (UTC)'] = pd.to_datetime(df['Origin (UTC)'])

In [4]:
dftz = dftz.merge(df, on = 'Index', suffixes = ('', '_DEL'))
dftz.drop(columns = ['FID'], inplace = True)

In [5]:
print(dftz)

     Index                 TZID        Origin (UTC)     Lat     Long  \
0       12         Asia/Kashgar 1902-08-22 03:00:00  40.000   77.000
1      348         Asia/Kashgar 1955-04-15 03:40:00  39.816   74.640
2      477         Asia/Kashgar 1969-02-11 22:08:00  41.426   79.239
3      514         Asia/Kashgar 1971-07-26 01:48:00  39.848   77.246
4      548         Asia/Kashgar 1975-01-19 08:02:00  32.373   78.474
...    ...                  ...                 ...     ...      ...
1222   977        Asia/Jayapura 1994-10-08 21:44:00  -1.206  127.980
1223   959        Asia/Jayapura 1994-01-21 02:24:00   1.043  127.773
1224   976        Asia/Ust-Nera 1994-10-04 13:22:00  43.863  147.353
1225    95        Asia/Ust-Nera 1918-09-07 17:15:00  46.812  150.253
1226   701  America/Tegucigalpa 1982-09-29 05:50:00  14.494  -89.102

      Depth (km)  Magnitude Secondary Effects  PDE Shaking Deaths  \
0            0.0        7.7               NaN                 NaN
1           35.0        7.1               NaN                 NaN
2           13.1        7.1               NaN                 NaN
3           41.1        5.8               NaN                 NaN
4            5.0        6.8               NaN                47.0
...          ...        ...               ...                 ...
1222        17.0        6.8                 T                 1.0
1223        20.0        6.9               NaN                 7.0
1224        14.0        8.3               T,L                 NaN
1225       242.4        7.6                 T                 NaN
1226        13.9        5.6               NaN                 3.0

      PDE Total Deaths  Utsu Total Deaths  EM-DAT Total Deaths  \
0                  NaN             5650.0                  NaN
1                  NaN                5.0                  NaN
2                  NaN                2.0                  NaN
3                  NaN                1.0                  NaN
4                 47.0               47.0                 47.0
...                ...                ...                  ...
1222               1.0                1.0                  1.0
1223               7.0                7.0                  7.0
1224              11.0               11.0                  5.0
1225               NaN               24.0                  NaN
1226               3.0                3.0                  NaN

      Other Source Deaths             Country  Deaths
0                     NaN               China  5650.0
1                     NaN               China     5.0
2                     NaN               China     2.0
3                     NaN               China     1.0
4                     NaN              India     47.0
...                   ...                 ...     ...
1222                  NaN           Indonesia     1.0
1223                  NaN           Indonesia     7.0
1224                  NaN  Russian Federation    11.0
1225                  NaN  Russian Federation    24.0
1226                  NaN            Honduras     3.0

[1227 rows x 15 columns]

In [6]:
dftz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1227 entries, 0 to 1226
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                1227 non-null   object
 1   TZID                 1227 non-null   object
 2   Origin (UTC)         1227 non-null   datetime64[ns]
 3   Lat                  1227 non-null   float64
 4   Long                 1227 non-null   float64
 5   Depth (km)           1158 non-null   float64
 6   Magnitude            1227 non-null   float64
 7   Secondary Effects    364 non-null    object
 8   PDE Shaking Deaths   653 non-null    float64
 9   PDE Total Deaths     663 non-null    float64
 10  Utsu Total Deaths    976 non-null    float64
 11  EM-DAT Total Deaths  540 non-null    float64
 12  Other Source Deaths  24 non-null     float64
 13  Country              1227 non-null   object
 14  Deaths               1151 non-null   float64
dtypes: datetime64[ns](1), float64(10), object(4)
memory usage: 153.4+ KB

In [17]:
dftz['LocalTime'] = dftz['Origin (UTC)'].apply(lambda x: x.tz_localize('US/Central'))

NonExistentTimeError: 1939-04-30 02:55:00

In [ ]:
#df.set_index('Origin (UTC)', inplace = True)