In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
import requests
from io import StringIO
from bs4 import BeautifulSoup as BS
import json

In [2]:
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=1900-01-01&minlatitude=34.452&maxlatitude=37.44&minlongitude=-91.033&maxlongitude=-79.915&eventtype=earthquake'

In [3]:
r = requests.get(url)
data = r.json()

In [4]:
r.status_code

200

In [24]:
#data.keys()
#data['features'][0]

In [25]:
#data['features'][0]['properties']

In [7]:
contain = []
for d in data['features']:
    d['properties']['geometry'] = d['geometry']
    d['properties']['id'] = d['id']
    contain.append(d['properties'])

In [8]:
full = pd.DataFrame(contain)

In [9]:
full['TN'] = full['place'].str.contains('Tennessee')

In [10]:
#temp = temp[temp['TN']==True]
TN_eq = full.query('TN == True')

In [26]:
#TN_eq.info()

In [12]:
TN_eq.query('mag >= 2.5', inplace = True)

<ipython-input-12-72c8d77f3930>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TN_eq.query('mag >= 2.5', inplace = True)

In [13]:
#TN_eq.to_csv(r'..\Data\TN_eq.csv', index = False)

In [14]:
arc = pd.read_csv('../Data/arc.csv')

In [15]:
arc['time'] = pd.to_datetime(arc['time'])
arc.drop(columns = ['FID','FID_1'], inplace = True)

In [16]:
arc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   time        301 non-null    datetime64[ns, UTC]
 1   latitude    301 non-null    float64
 2   longitude   301 non-null    float64
 3   depth       301 non-null    float64
 4   mag         301 non-null    float64
 5   magType     301 non-null    object
 6   nst         301 non-null    int64
 7   gap         301 non-null    int64
 8   dmin        301 non-null    float64
 9   rms         301 non-null    float64
 10  net         301 non-null    object
 11  id          301 non-null    object
 12  updated     301 non-null    object
 13  place       301 non-null    object
 14  horizontal  301 non-null    float64
 15  depthError  301 non-null    float64
 16  magError    301 non-null    float64
 17  magNst      301 non-null    int64
 18  locationSo  301 non-null    object
 19  magSource   301 non-null    object
 20  NAME        301 non-null    object
 21  County      301 non-null    object
 22  2019POP     301 non-null    float64
dtypes: datetime64[ns, UTC](1), float64(10), int64(3), object(9)
memory usage: 54.2+ KB

In [17]:
arc.set_index('time', inplace = True)

In [29]:
arc.mag.resample('10Y').max()

time
1913-12-31 00:00:00+00:00    4.1
1923-12-31 00:00:00+00:00    4.5
1933-12-31 00:00:00+00:00    4.5
1943-12-31 00:00:00+00:00    NaN
1953-12-31 00:00:00+00:00    NaN
1963-12-31 00:00:00+00:00    4.1
1973-12-31 00:00:00+00:00    4.7
1983-12-31 00:00:00+00:00    4.1
1993-12-31 00:00:00+00:00    4.2
2003-12-31 00:00:00+00:00    3.8
2013-12-31 00:00:00+00:00    4.0
2023-12-31 00:00:00+00:00    4.4
Freq: 10A-DEC, Name: mag, dtype: float64