In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

In [2]:
dftz = pd.read_csv('..\Data\dftz.csv')
df = pd.read_csv('..\Data\df.csv')
#print(dftz)

In [3]:
dftz['Index'] = dftz['Index'].astype('int')
dftz['Index'] = dftz['Index'].astype('str')
df['Index'] = df['Index'].astype('str')
df['Origin (UTC)'] = pd.to_datetime(df['Origin (UTC)'], utc = True)

In [4]:
dftz = dftz.merge(df, on = 'Index', suffixes = ('', '_DEL'))
dftz.drop(columns = ['FID'], inplace = True)
dftz.drop(columns = ['Lat'], inplace = True)
dftz.drop(columns = ['Long'], inplace = True)

In [5]:
#dftz['LocalOffset'] = dftz.apply(lambda x: x['Origin (UTC)'].tz_localize(x['TZID'], nonexistent = 'shift_forward'), axis = 1)
dftz['LocalTime'] = dftz.apply(lambda x: x['Origin (UTC)'].tz_convert(x['TZID']), axis = 1)

In [6]:
dftz['LocalTime'] = pd.to_datetime(dftz['LocalTime'], utc = True)

In [7]:
dftz['LocalTime'] = dftz.apply(lambda x: x['LocalTime'].tz_localize(None), axis = 1)

In [8]:
dftz.set_index('LocalTime', inplace = True)

In [13]:
dftz

,Index,TZID,Origin (UTC),Depth (km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths,Country,Deaths
LocalTime,,,,,,,,,,,,,
1902-08-22 03:00:00,12,Asia/Kashgar,1902-08-22 03:00:00+00:00,0.0,7.7,NaN,NaN,NaN,5650.0,NaN,NaN,China,5650.0
1955-04-15 03:40:00,348,Asia/Kashgar,1955-04-15 03:40:00+00:00,35.0,7.1,NaN,NaN,NaN,5.0,NaN,NaN,China,5.0
1969-02-11 22:08:00,477,Asia/Kashgar,1969-02-11 22:08:00+00:00,13.1,7.1,NaN,NaN,NaN,2.0,NaN,NaN,China,2.0
1971-07-26 01:48:00,514,Asia/Kashgar,1971-07-26 01:48:00+00:00,41.1,5.8,NaN,NaN,NaN,1.0,NaN,NaN,China,1.0
1975-01-19 08:02:00,548,Asia/Kashgar,1975-01-19 08:02:00+00:00,5.0,6.8,NaN,47.0,47.0,47.0,47.0,NaN,India,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994-10-08 21:44:00,977,Asia/Jayapura,1994-10-08 21:44:00+00:00,17.0,6.8,T,1.0,1.0,1.0,1.0,NaN,Indonesia,1.0
1994-01-21 02:24:00,959,Asia/Jayapura,1994-01-21 02:24:00+00:00,20.0,6.9,NaN,7.0,7.0,7.0,7.0,NaN,Indonesia,7.0
1994-10-04 13:22:00,976,Asia/Ust-Nera,1994-10-04 13:22:00+00:00,14.0,8.3,"T,L",NaN,11.0,11.0,5.0,NaN,Russian Federation,11.0
1918-09-07 17:15:00,95,Asia/Ust-Nera,1918-09-07 17:15:00+00:00,242.4,7.6,T,NaN,NaN,24.0,NaN,NaN,Russian Federation,24.0
1982-09-29 05:50:00,701,America/Tegucigalpa,1982-09-29 05:50:00+00:00,13.9,5.6,NaN,3.0,3.0,3.0,NaN,NaN,Honduras,3.0

In [17]:
#dftz.between_time('00:00', '12:00')
#dftz.query('')

dftz.Deaths.resample('10Y').mean()

LocalTime
1900-12-31     140.000000
1910-12-31    3493.065217
1920-12-31    8791.514286
1930-12-31    6639.857143
1940-12-31    2744.639344
1950-12-31    2334.701299
1960-12-31     459.972603
1970-12-31    1426.680000
1980-12-31    5206.549669
1990-12-31     598.684783
2000-12-31     307.716981
2010-12-31    3484.025806
2020-12-31            NaN
Freq: 10A-DEC, Name: Deaths, dtype: float64

In [19]:
dftz.Index.resample('10Y').count()

LocalTime
1900-12-31      3
1910-12-31     53
1920-12-31     46
1930-12-31     65
1940-12-31     65
1950-12-31     81
1960-12-31     77
1970-12-31    103
1980-12-31    156
1990-12-31    189
2000-12-31    213
2010-12-31    172
2020-12-31      4
Freq: 10A-DEC, Name: Index, dtype: int64

In [12]:
#Graphs: DEPTH PER YEAR .mean()
#MAGNITUDE PER YEAR .mean()
#DEATHS PER YEAR .sum()
#COUNTS PER YEAR .count()
#DEATHS IN THE MORNING AS A RATIO OF TOTAL DEATHS
#DEATHS IN THE DAY AS A RATIO OF TOTAL DEATHS
#DEATHS PER EARTHQUAKE